PORT=5000
POSTGRES_USER=gym_user
POSTGRES_PASSWORD=gym_password
POSTGRES_DB=gym_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
MONGO_URI=mongodb://mongo_user:mongo_password@localhost:27017/gym_logs?authSource=admin
REDIS_URL=redis://localhost:6379
JWT_SECRET=super_secret_jwt_key_123
